:root>* {

    --md-footer-bg-color: white;
    --md-footer-fg-color: rgb(32, 32, 32);
    --md-footer-bg-color--dark: white;
    --md-footer-fg-color--lighter:  rgb(32, 32, 32);
    --md-footer-fg-color--light:  rgb(32, 32, 32);
    --mdc-typography-headline6-font-family: 'Be Vietnam', sans-serif;
    --mdc-typography-font-family: 'Be Vietnam', sans-serif;
    --md-typeset-a-color: rgb(12, 69, 240);

}


.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    border-radius: 4px;
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(32, 32, 32);
}

.md-typeset h2 {
    font-weight: 500;
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}


#homepage {
  background-color: #faf9ec;
  font-family: 'tradegothiclt-bold', sans-serif;
  font-size: 4em;
  color: rgb(43, 43, 43);
  text-transform: uppercase;
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}
/* hide title of each page
    /* custom.css */
    .md-main__inner > header.md-content__title {
      display: none;
    }
    .md-typeset h1 {
      font-family: 'Unbounded', sans-serif;  /* Replace 'Your Desired Font' with the actual font name */
      font-size: 2.5em;  /* Adjust the size as needed */
      line-height: 2.5em;  /* You can set the line height if needed */
      font-weight: 500;  /* Adjust the font weight if needed */
      text-align: left;  /* Adjust text alignment if needed */
  }

body {
    background-color: #faf9ec; /* Replace #your-color with your desired background color */
}

/* ----------FACULTY CARDS---------- */

.md-typeset .faculty-card {
  display: flex;
  flex-direction: column;
}

.md-typeset.faculty-image {
  /* display: flex;
  align-content: flex-start;
  justify-content: flex-start; */
  float: left;
}

.md-typeset .faculty-card img.faculty-photo {
  float: left;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 20px;
  padding: 0px;
  object-fit: cover;
  object-position: 50% 50%;
  overflow: hidden;
  margin-bottom: 40px;
  filter: grayscale(100%);
}

.md-typeset .faculty-bio {
  margin-top: 25px;
}

.md-typeset .faculty-card h4 {
  margin-top: 0px;
  font-weight: 500;
  color: var(--md-primary-fg-color);
}

.md-typeset .faculty-card h3.name {
  margin-top: 0px;
  padding-top: 0px;
  font-weight: 500;
  margin-bottom: 0px;
  color: var(--md-typeset-color);
}

.md-typeset hr.divider-faculty {
  border-bottom: 2px solid var(--md-typeset-table-color);
  margin: 50px 0px 50px 0px;
}

.socials-faculty {
  min-width: 20px;
  height: 20px !important;
  fill: var(--md-typeset-color);
  position: relative;
  opacity: 50%;
  vertical-align: bottom;
  display: inline-block;
  margin: 0px;
  padding: 0px 15px 0px 0px;
}

.faculty-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.md-typeset .faculty-content-bottom {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
